body,html{
	height: 100%;
	width: 100%;
	padding: auto;
	
}

.box .login{
	box-shadow: 0 5px 7px rgb(0, 0, 0);
}
.main-container{
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-container > .login,
.main-container > .hero-body{
	height: auto;
	width: 100%;
	max-width: 400px;
	min-width: 300px;
	box-shadow: 0 5px 7px rgb(0, 0, 0);
}

.form-inline{
	display: inline-flex;
}

.container1{
	height: 470px;
	width: 500px;
	align-items: center;
	box-shadow: 0 5px 7px rgba(0, 0, 0, 0.909);
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

.container2{
	height: 500px;
	width: 90%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	margin-left: 50px;
}

.container2 .h1{
	padding-top: 0;
}

.container1 .columns1{
	display: block;
	text-align: center;
	height: 500;
	width: 100%;
	margin-top: 10px;
}

.column .control .input1{
	text-align: center;
	width: 500px;
	display: block;
	border: none;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

.input{
	border: none;
	box-shadow: 0 5px 7px rgba(0, 0, 0, 0.909);
}










